<!DOCTYPE html>
<html>
  <head>
    <title>Facebewk</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%# BEGIN TESTING %>
    <script type="text/javascript">
      window.testCover = "<%= image_url('test_cover.JPG') %>";
      window.testProfile = "<%= image_url('test_profile.jpg') %>";
    </script>
    <%# END TESTING %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
