<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GTEBZXX0BX"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-GTEBZXX0BX');
    </script>
    <title>Facebewk</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://kit.fontawesome.com/01de39c32b.js" crossorigin="anonymous"></script>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <%= favicon_link_tag asset_path('favicon.ico') %>


    <meta property='og:title' content='Facebewk'/>
    <meta property='og:image' content='//raw.githubusercontent.com/nateychau/facebook_fsp/master/app/assets/images/fb_splash.PNG'/>
    <meta property='og:description' content='Facebewk is a full stack clone of Facebook, with fully functional friending, posts, comments, and likes '/>
    <meta property='og:url' content='//facebewk.herokuapp.com/#/'/>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
